<div class="container">
  <h1><%= @article.title %></h1>
	<h2><%= @article.body %></h2>

	<%= link_to "Edit article", edit_article_path(@article) %>
	<%= link_to "Delete article", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }  %>

	<h2>Comments:</h2>
	<% @article.comments.each do |comment| %>
		<p>
			<strong>Commenter:</strong>
			<%= comment.user.username %>
		</p>
		<p>
			<strong>Comment:</strong>
			<%= comment.body %>
		</p>
	<% end %>
		
	<h2>Add a comment:</h2>
	<%= form_with model: [@article, @article.comments.build] do |f| %>
		<p>
			<%= f.label :commenter %><br>
			<%= f.text_field :commenter %>
		</p>
		<p>
			<%= f.label :body %><br>
			<%= f.text_field :body %>
		</p>
		<p>
			<%= f.submit %>
		</p>
	<% end %>


</div>
